body{
  background-color: #4c38bb;
  color: white;
  font-family: 'Inconsolata', monospace;
  font-weight: 400 !important;
  }

.App {
  margin-top: 10px;
  border-radius: 600px;
  height: 100vh;
  text-align: center;
  margin: auto;
}
.App-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.number{
  font-size: 120px;
  display: block;
  padding-bottom: px;
  border-bottom: 10px solid;
  margin-bottom: 20px !important;
  width: 120px;
  margin: auto;
  font-weight: bold;
}

.headline{
  font-size: 32px;
  margin-bottom: 8px;
  font-weight: bold;
}

p{
-webkit-margin-before: 0em;
}

button{
 background-color: #7391f1;
  color: white;
  font-weight: bold;
  font-family: 'Inconsolata', monospace;
  border: none;
  padding: 12px;
  border-radius: 40px;
  min-height: 40px;
  min-width: 40px;
  font-size: 16px;
  margin: 40px 0px;
}

button:hover{
  background-color: #65f1cc;
  cursor: pointer;
}

input{
  background-color: TRANSPARENT;
  font-size: 24px;
  color: #313033;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  border: 0px transparent;
  border-bottom: 1px solid #cdc2ff;
  width: 284px;
  padding: 8px;
}

input:focus{
    outline: none;
    border-bottom: 1px dashed #45e2b9;
}

.editModal{
  background-color: white;
  height: 100%;
  z-index: 3;
  position: absolute;
  width: 100%;
}

.modalContent{
  width: 300px;
  text-align: center;
  margin: 0 auto;
  color: #313033;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.modalContent p{
      margin-bottom: 32px;
}

.modalContent h3{
  margin-bottom:8px;
}

.saveButton{
  width: 300px;
  background-color: #4c38bb;
  border-radius: 4px;
  margin: 20px 0px;
}

.editButton{
  position: absolute;
  right: 20px;
}
